body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(assest/images/bg-purple.svg);
}

main {
    width: 710px;
    height: 589px;
    border-radius: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #B221F617;
    border: 1px solid #FFFFFF38;
    backdrop-filter: blur(14.399999618530273px);


}

h2 {
    display: flex;
    flex-direction: column;
    gap: -10px;
}

h2 {
    font-family: Monda;
    font-size: 48px;
    font-weight: 400;
    line-height: 67.02px;
    letter-spacing: 0.1em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

h2 span {
    font-size: small;
    margin-top: -30px;
}

h3 {
    font-family: Monda;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.34px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

input {
    padding: 10px;
    width: 248px;
    height: 33px;
    top: 25px;
    border: none;
    border-radius: 25px;
    background: #321B43;


}

button {
    padding: 10px 20px;
    margin: 10px;
    width: 152px;
    border-radius: 25px;
    background: #773DA6;
    border: none;
    font-family: Monda;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.34px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;

}

#qr-code {
    margin-top: 20px;
}